@import "tailwindcss";

@theme {
  --color-cream: oklch(0.98 0.01 90);
  --color-teal-light: oklch(0.9 0.1 180);
  --color-teal-medium: oklch(0.7 0.2 180);
  --color-teal-dark: oklch(0.5 0.2 180);
  --color-destructive: oklch(0.648274 0.193891 22.3521);
  --color-destructive-dark: oklch(0.5 0.2 22.3521);
}

.chat-bubble {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
} 