@import "tailwindcss";

@theme {
  --color-primary: oklch(0.278078 0.029596 256.848);
  --color-primary-foreground: oklch(0.98 0 0);
  
  --color-secondary: oklch(0.961151 0 0);
  --color-secondary-foreground: oklch(0.278078 0.029596 256.848);
  
  --color-destructive: oklch(0.648274 0.193891 22.3521);
  --color-destructive-foreground: oklch(0.98 0 0);
  
  --color-accent: oklch(0.961151 0 0);
  --color-accent-foreground: oklch(0.278078 0.029596 256.848);
  
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  
  --ring: oklch(0.278078 0.029596 256.848);
}
